.header {
  margin-top: 50px;

  img {
    width: 250px;
    display: block;
    margin: auto;
  }

  nav {
    background-color: black;
    line-height: 30px;
    ul {
      display: flex;
      li {
        list-style: none;
        color: white;
        margin: 0 15px;
        padding: 5px 0;
      }
    }
    
  }
}
